/*HEADER*/

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-row {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.header-logo {
    /* Включаем flexbox */
    display: flex; 
    /* Направление расположения блоков относительно Main axis слева направо */
    flex-direction: row;
    /* Направление расположения блоков относительно Cross axis по центру */
    align-items: center;
    /* Размер блок с лого и название(его вес) относительнодругих элементов */
    flex-grow: 1;
}

.logo-img {
    margin-right: 40px;
}

.header-menu {
    flex-grow: 3;
}

.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*FOOTER*/

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ocial-networks {
    display: flex;
    justify-content: flex-end;
}